* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    background-color: rgb(218, 210, 216);
}

.footer {
    background-color: rgb(218, 210, 216);
    position: fixed;
    bottom: 0;
    width: 100%;
}

#copyright {
    padding: 1px;
    padding-top: 15px;
    color: black;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
}

li {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 80px;
    
}

.home_button {
    color: white;
    text-decoration: none;
    background-color: rgb(230, 70, 62);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: .25rem;
}

.aboutus_button {
    color: white;
    text-decoration: none;
    background-color: rgb(230, 70, 62);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: .25rem;
}

a:hover {
    color: black;
    transition: 0.4sec;
}

